<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="sabtbelitEntities" connectionString="metadata=res://*/Model_DataBase.csdl|res://*/Model_DataBase.ssdl|res://*/Model_DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=sabtbelit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sabtbelitEntities1" connectionString="metadata=res://*/NewFolder1.Modedatabase.csdl|res://*/NewFolder1.Modedatabase.ssdl|res://*/NewFolder1.Modedatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=sabtbelit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sabtbelitEntities2" connectionString="metadata=res://*/NewFolder1.Model1.csdl|res://*/NewFolder1.Model1.ssdl|res://*/NewFolder1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=sabtbelit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>